
.b{ background-image:url("images/back.png");
    background-repeat:no-repeat;
    background-attachment:scroll;
    background-position:center;
    background-size:cover;
    height: 800px;
}

.loginbox{
    width: 400px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 73%;
    left: 50%;
    opacity: 0.75;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #ffc107;
    color: #fff;
}
.loginbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #000000;
}

.loginbox a:hover
{
    color: #fff4b3;;
}

@media (min-width: 1025px) and (max-width: 1280px){

.loginbox{
    width: 400px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {

.loginbox{
    width: 400px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

}

@media (min-width: 481px) and (max-width: 767px) {

.loginbox{
    width: 400px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}


}

@media (min-width: 320px) and (max-width: 480px) {

  .loginbox{
    width: 290px;
    height: 475px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    opacity: 0.75;
    position: relative;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
  
}