body{
margin:0;
padding:0;    
}

.container12{
width:100%;
height: auto;
display: flex;
align-items: flex-start;
flex-wrap: wrap;
}

.about12{
    width: 100%;
    height: 600px;
    background-image:url(images/uni.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.text12{
    font-size: 60px;
    color: #fff;
    font-family: sans-serif;
    text-shadow: 3px 0px 0px  #fff;
}

.line12{
    width: 230px;
    height: 8px;
    background-color: #17ff8d;
    display: block;
    position: relative;
    border-radius: 5px;
    left: 3%;
    box-shadow: 0px 15px 12px 0px #000;
}

.container12{
    width:100%;
    height: auto;
    background-color: #17ff8d;
    font-size: 25px;
    font-family: audiowide;
    color: #333;
    line-height: 30px;
    text-align: center;
}
 b{
 font-size: 50px;
    color: #000;
     font-weight: 500px;
 }
footer{
width: 100%;
    height: auto;
    background-color: #333;
    color: #17ff8d;
    font-size: 20px;
    text-align: center;
    line-height: 50px;

}

